/* font-family: 'Quicksand', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

/* Estilos Generales */
:root{
    --very-light-pink:#C7C7C7;
    --color-white:#FFFFFF;
    --color-black:#000000;
    --text-input-field:#F7F7F7;
    --hospital-green:#ACD9B2;
    --color-dark:#232830;
    --font-size-sm:14px;
    --font-size-md:16px;
    --font-size-lg:18px;
}
.inactive{
    display: none;
} 
body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand',sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.btn-menu{
    display: none;
}

/* Estilos generales del nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid var(--very-light-pink);
}
.nav-right,
.nav-left{
    display: flex;
    align-items: center;
}
.nav-right ul,
.nav-left ul{
display: flex;
align-items: center;
height: 60px;
}
/* Estilos del nav-right*/
.nav-right img{
    width: 120px;
    margin-right: 10px;
}
.nav-right ul li a{
    padding: 8px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid var(--color-white);;
    color: var(--very-light-pink);
    font-size: var(--font-size-md);
}
.nav-right ul li a:hover{
    color: var(--hospital-green);
    border: 1px solid var(--hospital-green);
}
/* Estilos del nav-left */
.nav-left .email{
    color: var(--color-dark);
    font-size: var(--font-size-sm);
    margin-right: 10px;
}
.nav-left .counter-list{
    position: absolute;
    top: 8px;
    right: 10px;
    background-color: var(--hospital-green);
    width: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    font-size: var(--font-size-sm);
}
.nav-left img{
    cursor: pointer;
}
/* Estilos del Desktop-Menu */

.desktop-menu{
    position: absolute;
    top:61px;
    background-color: var(--color-white);
    right: 60px;
    box-shadow: 0px 0px 2px -1px var(--very-light-pink);
}
.desktop-menu ul li{
    text-align: end;
    margin:20px;
}
.desktop-menu ul li:nth-child(3){
    border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li a{
    padding: 8px;
    color: var(--color-black);
    font-weight: bold;
    display: inline-block;
}
.desktop-menu ul li:nth-child(4) a{
    font-size: var(--font-size-sm);
    color: var(--hospital-green);
    
}

/* Mobile Menu */

.mobile-menu{
    position: absolute;
    top: 61px;
    left: 0;
    width: 100%;
    background-color: var(--color-white);
}
.mobile-menu ul li{
    margin:10px 20px;
}
.mobile-menu .divider{
    border-bottom: 1px solid var(--very-light-pink);
}
.mobile-menu ul li:nth-child(7){
    margin-bottom: 30px;
}
.mobile-menu ul li:nth-child(9){
    margin-top: 30px;
}
.mobile-menu ul li:nth-child(11){
    margin-top: 30px;
    margin-bottom: 0px;
}
.mobile-menu ul li:nth-child(12){
    margin-top: 0;
}
.mobile-menu .email{
    font-size: var(--font-size-sm);
    color: var(--color-dark);
    font-weight: 500;
}
.mobile-menu .sign{
    font-size: var(--font-size-sm);
     color: var(--hospital-green);
}
.mobile-menu ul li a{
    display: inline-block;
    padding: 8px;
    color: var(--color-black);
    font-weight: bold;
    font-size: var(--font-size-md);
}
.mobile-menu .btnClose{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
}
.btn-menu{
    display: block;
    width: 20px;
}

.btn-menu{
    display: none;
}
/* ASIDE SHOPPING CART */
aside{
    width: 380px;
    position: absolute;
    right: 0;
    top: 61px;
    background-color: var(--color-white);
    box-shadow: 1px 1px 3px 0px  var(--color-dark);
}
#shoppingCart {
    padding: 10px;
}
.container-shopping-cart{
    width: 100%;
}
.container-header-cart{
    display: flex;
    padding: 10px;
}
.container-header-cart p{
    margin-left: 20px;
    font-size: var(--font-size-lg);
    font-weight: bold;
}
.card-product{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-product figure{
    margin: 0;
    padding: 0;
}
.card-product img{
    width: 90px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}
.card-product p{
    font-size: var(--font-size-md);
    color: var(--very-light-pink);
    font-weight: 300;
}
.card-product span{
    font-weight: bold;
    font-size: var(--font-size-md);
}
.card-product .btnclose{
    width: 15px;
}
.container-shopping-total{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: var(--font-size-md);
    font-weight: bold;
    margin-top: 15px;
    background-color: var(--text-input-field);
    border-radius: 10px;
    padding: 8px 0px;
}
.container-shopping-total .total{
    font-size: var(--font-size-sm);
}
.container-btn-checkout .btn-checkout{
    width: 100%;
    margin: 10px 0px;
    padding: 20px 0px;
    border: none;
    background-color: var(--hospital-green);
    color: var(--color-white);
    font-size: var(--font-size-md);
    border-radius: 5px;
    cursor: pointer;
}
/* Product Details */

#productDetail  figure{
    margin: 0;
    padding: 0;
}
.product-img figure img{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.product-img .close{
    width:30px;
    height: 30px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 10px;
    background-color: var(--color-white);
}
/* Product Info */
.product-info{
    padding: 20px;
}
.product-info p{
    margin: 0;
    font-size: var(--font-size-lg);
    color: var(--color-dark);
    font-weight: 300;
    margin-bottom: 38px;
}

.product-info p:first-child{
    font-weight: bold;
    margin-bottom: 0;
}
.product-info p:nth-child(3){
    font-size: var(--font-size-md);
}
.product-info .btn-add{
    width: 100%;
    border: none;
    background-color: var(--hospital-green);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    border-radius: 20px;
    padding: 8px;
}
/* LIST PRODUCT CONTAINER */
.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 20px;
    place-content: center;
    margin-top: 20px;
  }
  .card-container {
    width: 100%;
  }
  .card-container .img-product {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  .card-container figure {
    margin: 0;
    padding: 0;
  }
  .info-product-img img {
    width: 45px;
  }
  .info-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }
  .info-product-details p {
    margin: 0;
  }
  .info-product-details p:first-child {
    font-size: var(--font-size-lg);
    font-weight: 700;
  }
  .info-product-details p:last-child{
      font-size: var(--font-size-md);
      color: var(--color-dark);
      font-weight: 500;
  }
@media (max-width:768px){
.product-container {
    display: grid;
    grid-template-columns: repeat(2, 180px);
    gap: 10px;
}
.info-product-details p:first-child{
    font-size: var(--font-size-md);
}
.info-product-details p:last-child{
    font-size: var(--font-size-sm);
}
.info-product-img img {
    width: 30px;
  }
.btn-menu{
    display: block;
}
.nav-right ul,
.nav-left .email,
.desktop-menu{
    display: none;
}

#shoppingCart{
    width: 90%;
    box-shadow: none;
    position: fixed;
    top: 61px;
    margin: 0;
    padding: 20px;
}
@media(min-width:641px){
    .mobile-menu{
        display: none;
    }
   
}
}