/* font-family: 'Quicksand', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

/* Estilos Generales */
:root{
    --very-light-pink:#C7C7C7;
    --color-white:#FFFFFF;
    --color-black:#000000;
    --text-input-field:#F7F7F7;
    --hospital-green:#ACD9B2;
    --color-dark:#232830;
    --font-size-sm:14px;
    --font-size-md:16px;
    --font-size-lg:18px;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand',sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.btn-menu{
    display: none;
}

/* Estilos generales del nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid var(--very-light-pink);
}
.nav-right,
.nav-left{
    display: flex;
    align-items: center;
}
.nav-right ul,
.nav-left ul{
display: flex;
align-items: center;
height: 60px;
}
/* Estilos del nav-right*/
.nav-right img{
    width: 120px;
    margin-right: 10px;
}
.nav-right ul li a{
    padding: 8px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid var(--color-white);;
    color: var(--very-light-pink);
    font-size: var(--font-size-md);
}
.nav-right ul li a:hover{
    color: var(--hospital-green);
    border: 1px solid var(--hospital-green);
}
/* Estilos del nav-left */
.nav-left .email{
    color: var(--color-dark);
    font-size: var(--font-size-sm);
    margin-right: 10px;
}
.nav-left .counter-list{
    position: absolute;
    top: 8px;
    right: 10px;
    background-color: var(--hospital-green);
    width: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    font-size: var(--font-size-sm);
}

/* Estilos del Desktop-Menu */
.active{
    display: none;
}
.desktop-menu{
    position: absolute;
    top:61px;
    right: 60px;
    box-shadow: 1px 2px 2px 2px var(--very-light-pink);
}
.desktop-menu ul li{
    text-align: end;
    margin:20px;
}
.desktop-menu ul li:nth-child(3){
    border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li a{
    padding: 8px;
    color: var(--color-black);
    font-weight: bold;
    display: inline-block;
}
.desktop-menu ul li:nth-child(4) a{
    font-size: var(--font-size-sm);
    color: var(--hospital-green);
    
}

/* Mobile Menu */

.mobile-menu{
    display: block;
    position: absolute;
    top: 61px;
    left: 0;
    width: 100%;
}
.mobile-menu ul li{
    margin:10px 20px;
}
.mobile-menu .divider{
    border-bottom: 1px solid var(--very-light-pink);
}
.mobile-menu ul li:nth-child(7){
    margin-bottom: 30px;
}
.mobile-menu ul li:nth-child(9){
    margin-top: 30px;
}
.mobile-menu ul li:nth-child(11){
    margin-top: 30px;
    margin-bottom: 0px;
}
.mobile-menu ul li:nth-child(12){
    margin-top: 0;
}
.mobile-menu .email{
    font-size: var(--font-size-sm);
    color: var(--color-dark);
    font-weight: 500;
}
.mobile-menu .sign{
    font-size: var(--font-size-sm);
     color: var(--hospital-green);
}
.mobile-menu ul li a{
    display: inline-block;
    padding: 8px;
    color: var(--color-black);
    font-weight: bold;
    font-size: var(--font-size-md);
}
.mobile-menu .btnClose{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
}
.btn-menu{
    display: block;
    width: 20px;
}
.active-mobile{
    display: none;
} 
.btn-menu{
    display: none;
}
/* ASIDE SHOPPING CART */
aside{
    width: 380px;
    position: absolute;
    right: 0;
    top: 61px;
    padding: 10px;
    background-color: var(--color-white);
    box-shadow: 1px 1px 3px 0px  var(--color-dark);
}
.container-shopping-cart{
    width: 100%;
}
.container-header-cart{
    display: flex;
    padding: 10px;
}
.container-header-cart p{
    margin-left: 20px;
    font-size: var(--font-size-lg);
    font-weight: bold;
}
.card-product{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-product figure{
    margin: 0;
    padding: 0;
}
.card-product img{
    width: 90px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}
.card-product p{
    font-size: var(--font-size-md);
    color: var(--very-light-pink);
    font-weight: 300;
}
.card-product span{
    font-weight: bold;
    font-size: var(--font-size-md);
}
.card-product .btnclose{
    width: 15px;
}
.container-shopping-total{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: var(--font-size-md);
    font-weight: bold;
    margin-top: 15px;
    background-color: var(--text-input-field);
    border-radius: 10px;
    padding: 8px 0px;
}
.container-shopping-total .total{
    font-size: var(--font-size-sm);
}
.container-btn-checkout .btn-checkout{
    width: 100%;
    margin: 10px 0px;
    padding: 20px 0px;
    border: none;
    background-color: var(--hospital-green);
    color: var(--color-white);
    font-size: var(--font-size-md);
    border-radius: 5px;
    cursor: pointer;
}
@media (max-width:768px){
.btn-menu{
    display: block;
}
.nav-right ul,
.nav-left .email,
.desktop-menu{
    display: none;
}

}
@media(min-width:641px){
    .mobile-menu{
        display: none;
    }
}